[aws]
#access_key=...   # Optional. Access key to generate temp keys with.
                 # If not provided, the service falls back on boto's
                 # credential discovery.
#secret_key=...   # Optional. Secret key to generate temp keys with.
                 # If not provided, the service falls back on boto's
                 # credential discovery.
#region=us-east-1 # Optional. Not generally necessary since IAM and STS
                 # are not region specific. Default is us-east-1.
mfa_enabled=no   # Optional. Enable generation of credentials using MFA.
                 # This option is only used if MFA is enabled on the provided
                 # account. If disabled, no MFA token is generated or
                 # prompted for.
#mfa_secret=...   # Optional. Base32 encoded virtual MFA device secret.
                 # If set, the metadata server will generate OTP codes
                 # internally instead of showing a prompt. The secret
                 # is provided when setting up the virtual mfa device.

[metadata]
host=169.254.169.254 # Optional. Interface to bind to. Default is
                     # 169.254.169.254.
port=45000           # Optional. Port to bind to. Default is 45000.
#token_duration=43200 # Optional. Timeout, in seconds, for the generated
                     # keys. Minimum is 15 minutes.
                     # Default is 12 hours for sts:GetSessionToken and
                     # 1 hour for sts:AssumeRole. Maximum is 36 hours
                     # for sts:GetSessionToken and 1 hour for
                     # sts:AssumeRole. If you specify a value higher
                     # than the maximum, the maximum is used.
#role_arn=arn:aws:iam::123456789012:role/${aws:username}
                     # Optional. ARN of a role to assume. If specified,
                     # the metadata server uses sts:AssumeRole to create
                     # the temporary credentials. Otherwise, the
                     # metadata server uses sts:GetSessionToken.
                     # The string '${aws:username}' will be replaced
                     # with the name of the user requesting the
                     # credentials. No other variables are currently
                     # supported.
#profile=...          # Name of the initial profile to select. Default is
                     # "default".

# Define a profile. A profile consists of a set of options
# used to create a session.
# Multiple profiles can be defined and switched on-the-fly.
# Default option values are taken from the [aws] and [metadata]
# sections.
#[profile:NAME]  # NAME is a string used to identify the profile
#access_key=...
#secret_key=...
#mfa_enabled=...
#mfa_secret=...
#region=...
#token_duration=...
#role_arn=...
